@import url(./normalize.css);
@import url(./font/fonts.css);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 2000px;
}

.dropdown {
    position: relative;
    top: 10px;
    left: 10px; 
    right: 0;
    background-color: #9e2e8f;
    border-bottom: 5px solid #c67dbc;
}

.menu-links {
    text-transform: uppercase; 
}

.link {
    display: inline-block;
    padding: 30px;
}

.p1 {
    display: block;
    padding: 30px 69px 30px 30px; 
}

.p2 {
    display: block;
    padding: 30px 65px 30px 30px; 
}

.products::after {
    content: '+';
    margin-left: 10px;
}

.dropdown-content {
    top: 100%; 
    background-color: #c67dbc;
    border-top: 5px solid #c67dbc;
}

.product-items::after {
    content: '+';
    position: absolute;
    right: 10px;
}

.sub-items {
    position: absolute;
    left: 100%;
    top: -1px; 
    margin-top: 0;
    background-color: #c67dbc;
    display: none;
}

.sub-item {
    display: block;
    width: 199px;
}

a {
    text-decoration: none;
    color: #ffffff;
    cursor: default;
}

ul {
    margin: 0;
    padding-left: 0;
}
  
li {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    transition-duration: 0.2s;
}

li:nth-child(1) {
    border-bottom: none;
}

li:hover {
    background: #c67dbc;
}

ul li ul {
    background: #9e2e8f;
    position: absolute;
    left: 0;
    display: none;
}
  
ul li:hover > ul, ul li ul:hover {
    display: block;
}
  
ul li ul li {
    width: 100%;
    border: 1px solid #9e2e8f;
}

ul li ul li:hover {
    background-color: #9e2e8f;
}